* text=auto eol=lf

*.blade.php diff=html
*.css diff=css
*.md diff=markdown
*.php diff=php

/docs export-ignore
/.github export-ignore
/.gitattributes export-ignore
/.gitignore export-ignore
/phpunit.xml export-ignore

